
<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header color="primary">
        Location Information
      </ion-card-header>
      <ion-card-content>
    <address>121, Clear Water Bay Road</address>
    <address>Clear Water Bay, Kowloon</address>
    <address>HONG KONG</address>
    <address><ion-icon name="call"></ion-icon>:  +852 1234 5678</address>
    <address><ion-icon name="print"></ion-icon>:  +852 8765 4321</address>
    <address><ion-icon name="mail"></ion-icon>:  confusion@food.net</address>

  </ion-card-content>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)="callRestaurant()">
        <ion-icon name="call"></ion-icon>
        <div>CALL</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small (click)="sendEmail()">
        <ion-icon name="mail"></ion-icon>
        <div>MAIL</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>
