<ion-header>

  <ion-toolbar color="primary-pale">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Comments</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <form [formGroup]="writeComments" (ngSubmit)="addComments()">
    <ion-item>
      <ion-label floating>Your Name</ion-label>
      <ion-input type="text" formControlName="author" place-holder="Your Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Rating</ion-label>
      <ion-range min="1" max="5" step="1" pin="true" formControlName="rating">
        <ion-icon range-left small name="sad"></ion-icon>
        <ion-icon range-right name="happy"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label floating>Your Comments</ion-label>
      <ion-textarea rows="12" formControlName="comment"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="!writeComments.valid">Submit</button>
  </form>

</ion-content>