<!--
  Generated template for the ReservationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary-pale">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Reserve Table</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

    <form [formGroup]="reservation" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label>No. of Guests</ion-label>
          <ion-select formControlName="guests">
            <ion-option value=1>1</ion-option>
            <ion-option value=2>2</ion-option>
            <ion-option value=3>3</ion-option>
            <ion-option value=4>4</ion-option>
            <ion-option value=5>5</ion-option>
            <ion-option value=6>6</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Smoking?</ion-label>
          <ion-toggle formControlName="smoking" checked="true"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Date and Time</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY hh:mm A" pickerFormat="MMM DD, YYYY hh:mm A" formControlName="dateTime"></ion-datetime>
        </ion-item>
        <button ion-button type="submit" [disabled]="!reservation.valid">Reserve</button>
      </form>

</ion-content>
